apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "llm-stack.fullname" . }}-models
  labels:
    {{- include "llm-stack.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadOnlyMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard

